@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
}

h5.banner-sub-title{
    color: #fd7402;
}

.banner-quote{
    font-style: italic;
    color: #3241ff;
}

.main-slider-three__title{
    font-size: 50px;
    line-height: none !important;
    max-width: 75%;
}

@media only screen and (max-width: 767px) {

    .banner-quote{
        font-style: italic;
        color: #3241ff;
    }
}

.feature-three__content .tiles-btn{
    background-color: #3241ff;
    margin-top: 10px;
}

@media (min-width: 375px) {
    
    a btn-primary .tiles-btn{
        margin-top: 10px !important;
    }
}

